.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0;
  &_section-1 {
    width: 100%;
    height: 100vh;
    background: url("../../assets/female-client-checking-order-tablet-standing-near-courier-deliveryman-holding-paper-bag-with-vegetables-delivering-order-foot-food-delivery-service-online-shopping-concept\ 1.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal {
      width: 735px;
      height: 333px;
      background: #ffffff;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      article {
        width: 30rem;
        font-weight: 700;
        color: #f3292a;
        display: block;
        span {
          color: #555555;
          text-align: center;
        }
      }
      form {
        display: flex;
        flex-direction: row;
        height: 4rem;
        margin-top: 59px;
        justify-content: space-between;
        width: 27rem;
        input {
          border: #555555 1px solid;
          border-radius: 1rem;
          -webkit-border-radius: 1rem;
          -moz-border-radius: 1rem;
          -ms-border-radius: 1rem;
          -o-border-radius: 1rem;
          padding: 1rem;
          width: 16.5rem;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
  &_section-2 {
    width: 100%;
    height: 200vh;
    display: grid;
    grid-template-columns: 1fr 1fr  !important;
    padding: 0 2rem;
    article {
      text-align: start;
      width: 35rem;
      display: grid;
      grid-template-rows: auto auto;
      row-gap: 0px;
      &:first-child {
        margin-top: 11rem;
      }
      h1 {
        text-align: start;
        font-weight: 700;
        font-size: 25px;
        // line-height: 34px;
        letter-spacing: 0.08em;
        margin-bottom: 0.75rem;
        width: 20em;
        // display: flex;
        // flex-direction: row;
        font-family: 'Space Grotesk';
      }
      .up {
        // position: relative;
        margin-top: -8.5rem;
      }
      li {
        margin-top: -3rem;
      }
      
    }
    .everydayAssitance {
      margin-top: 7.5rem;
      width: 30rem;
    }
    .personaltaskforce {
      width: 30rem;
      margin-top: 7.5em;
    }
  }
  &_section-3 {
    width: 100%;
    height: 100vh;
    background: #e2e7ed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .content {
      display: flex;
      flex-direction: row;
      width: 60%;
      justify-content: space-between;
      height: 80%;
      .signup_modal {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        img {
          width: 12rem;
          height: 12rem;
        }
        article {
          width: 20rem;
        }

        .btn {
          text-decoration: none;
        }
      }

      .whiteline {
        height: 24.5rem;
        margin-top: 4.5rem;
      }

      .errander_modal {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        img {
          width: 12rem;
          height: 12rem;
        }
        article {
          width: 15rem;
        }
        .btn {
          text-decoration: none;
        }
      }
    }
  }
  &_section-4 {
    width: 100%;
    height: 100vh;
    padding: 5rem 2rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    h1 {
      font-size: 2rem;
    }
    .services {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 44px;
    }
  }
}


