.help {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0;

  &_section-1 {
    width: 100%;
    height: 69vh;
    background: url("../../assets/part-male-construction-worker.jpg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
      height: 12rem;
      width: 48.25rem;
      background-color: #fff;
      color: #eb2024;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      input {
        border: #7b7b7b solid 1px;
        height: 3.7rem;
        width: 35rem;
        padding: 1rem;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        &:focus {
          outline: none;
        }
      }
    }
  }

  &_section-2 {
    display: flex;
    width: auto;
    padding: 0 7.3rem;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: solid 1px #7b7b7b;
    .btns {
      display: flex;
      width: 70%;
      height: 15vh;
      background-repeat: no-repeat;
      justify-content: space-between;
      font-family: "Space Grotesk";
      font-weight: 700;
    }
    .tasks {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 18px;
      margin-bottom: 7.4rem;
      .task {
        display: flex;
        flex-direction: column;
        background: #ffffff;
        box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.11),
          10px 10px 20px rgba(0, 0, 0, 0.11);
        border-radius: 10px;
        height: 21rem;
        width: 23rem;
        justify-content: center;
        align-items: center;
        p {
          margin-top: 1rem;
          width: 16rem;
        }
      }
    }
  }
  &_section-3 {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 3.25rem 8.1rem;
    h1 {
      margin-bottom: 3.25rem;
    }
    .questions {
      display: flex;
      ul {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-right: 1.5rem;

        gap: 1.5rem;
        li {
          list-style: none;
          text-align: left;
        }
      }
    }
    .contact_btn {
      display: flex;
      align-self: center;
      margin-top: 5.9rem;
      margin-bottom: 15.2rem;
    }
  }
}
