
.xl-x {
    display: grid;
    grid-template-columns: 50% 50%;
    align-self: center;
    padding: 20px;
    margin-top: 50px;
}
hr {
    padding: 40px;
    color: gray;
    opacity: 0.6;
}
.woman-img {
    margin-left: 25px;
}
.earn {
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    margin-left: -50px;
    
}
.discover {
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 25px;
    position: relative;
    margin-left: -150px;
    font-weight: 400;
    
}
.xl-x div h5 {
    font-size: 14px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    position: relative;
    margin-left: -200px;
    padding: 12px;
}
select {
    width: 300px;
    height: 50px;
    position: relative;
    left: -20px;
    padding: 5px;
}
.xl-x div h6 {
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    margin-left: -230px;
    padding: 30px;
}
.get {
    width: 250px;
    height: 45px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0;
    margin-left: -100px;
    /* display: block; */
}
article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    
}
article img {
    margin: 10px;
}
.x-modal {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px;
    align-self: center;
    padding-bottom: 40px !important;
}
.x-modal section img {
    padding-bottom: 30px;
    padding-top: 50PX;
    margin-left: 50px;
}
.x-modal section p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    font-size: 13px;
}
.x-modal section h2 {
    color: red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: -130px;
    font-size: 20px;
}
.man-div {
    margin-top: 50px;
    display: grid;
    /* justify-content: space-around;
     */
     grid-template-columns: repeat(2,1fr);
}

.man-div div h2 {
    color: red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 40px;
    margin-top: 10px;
    margin-left: -180px;
}
.man-div div p {
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50px;
}
.man-div div img {
    margin-left: 50px;
    padding-bottom: 3rem;
}
.last-section {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;
    
    margin-top: 40px;
}
.last-section div {
    padding: 5px;
    cursor: pointer;
}
.last-section div h5 {
    font-size: 14px;
    color: red;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
}
.i {
    padding-top: 3px;
    color: red;
}
.modals {
    height: 200px;
    width: 450px;
    background-color: aliceblue;
    box-shadow: 0px 1px 2px black;
    padding: 20px;
    position: relative;
    top: -31em;
    left: 35%;
    z-index: 99;
}
.hr-btn {
    border: none;
    color:red;
    font-size: 18px;
    position: relative;
    margin-left: -21em;
    background-color: white;
    color: red;
    cursor: pointer;
    padding-top: 10px;
}
.modals h4 {
    font-size: 13px;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: light;
    text-align: center;
    margin-top: 3em;
}
small {
    cursor: pointer;
}
.modals-f {
    width: 420px;
    height: 420px;
    position: relative;
    box-shadow: 0px 1px 2px black; 
    top: -1.4em;
    left: 10em;
    z-index: 999;
}
.modals-f h4 {
    font-size: 14px;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.modals-f  ul li {
    /* padding: 10px; */
    font-size: 12px;
    text-align: left;
    color: red;
}
.modals-f ul {
    margin-top: 40px;
}
.sec-modal {
    width: 410px;
    height: 350px;
    box-shadow: 0px 1px 2px black; 
    /* display: flex; */
}
.sec-modal h4 {
    font-size: 13px;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    /* padding: 30px; */
}
.opera-kk {
       width: 350px;
       height: 100px;
       text-align: center;
       color: red;
       background-color: aliceblue;
       box-shadow: 0px 1px 3px black;
}